<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="D:\Web Development\project\css files\Home.css">
    <script src="D:\Web Development\project\js files\Home.js"></script>
    <title>Home</title>
</head>
<body>
    <%- include('./companents/sidebar.ejs') %>

<!-- 5th main -->

<div class="main5">
    <h1>About Us</h1> <p>We are شد حيلك, and we're more than just a gym equipment store – we're a local movement dedicated to empowering people to achieve their fitness goals. We believe that every workout, every rep, and every stride shape who we are and how we move through life.</p> <p>At the heart of شد حيلك, we are passionate about providing high-quality, durable, and innovative gym equipment that caters to the diverse needs of our community. Our mission is to equip you with the tools you need to push your limits, conquer your challenges, and unlock your full potential.</p> <p>We understand that fitness is not just about physical transformation, but also about mental and emotional well-being. That's why we've carefully curated our selection of equipment to not only meet your workout needs but also to inspire and motivate you on your journey. From state-of-the-art treadmills to cutting-edge strength training machines, our products are designed with your comfort, safety, and performance in mind.</p> <p>Sustainability and ethical practices are at the core of our brand. We work closely with our suppliers to ensure that every piece of equipment is manufactured using environmentally-friendly materials and processes. By choosing شد حيلك, you can feel good about investing in your fitness while contributing to a more sustainable future.</p> <p>Whether you're a seasoned athlete or just starting your fitness journey, we're here to support you every step of the way. Visit our store and experience the difference that quality, innovation, and a passion for fitness can make in your life. Let's embark on this journey together and unlock your true potential!</p>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-facebook"></i>
    <i class="bi bi-twitter"></i>
    </p>
   </div>
   
   <%- include('./companents/footer.ejs') %>

</body>
</html>