<html>
    <head>
        <!--Preview http://localhost:8080/AdminOrder -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/adminorder.css">
    </head>
    <body>
     <!-- Elements Start -->
        
            <div id="Title">
                <button id="back"onclick="redirectToHome()">
                    <img src="/images/back.png" alt="back" id="icon">
                     <!--<img src="back.png" alt="back" id="icon"> -->
                </button>
                <label for="Title">Orders Management</label>
                  
            </div>

            <div id="container">
                <div id="header2">Orders record</div>
                <div id="container2">
                    
                </div>
            </div>
            
            
        
    <!-- Elements End -->    
        <script src="/scripts/adminorder.js" defer></script>
       <!-- <script src="AdminOrder.js" defer></script>-->
    </body>
</html>