<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="D:\Web Development\project\css files\Home.css">
    <script src="D:\Web Development\project\js files\Home.js"></script>
    <title>Home</title>
</head>
<body>
    <%- include('./companents/sidebar.ejs') %>

<!-- 5th main -->

<div class="main5">
    <h1>Terms of Service</h1>
     <p>
         Welcome to شد حيلك  These Terms of Service ("Terms") govern your access to and use of the شد حيلك  website, mobile application, and any related services (collectively referred to as the "Services"). By accessing or using our Services, you agree to be bound by these Terms.
         <br>1. Acceptance of Terms<br>
         By accessing or using our Services, you agree to these Terms and any additional terms and conditions referenced herein. If you do not agree to these Terms, you may not use our Services.
         <br>2. Use of Services<br>
         You agree to use our Services only for lawful purposes and in accordance with these Terms and any applicable laws and regulations. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.
         <br>3. Intellectual Property<br>
         All content included in or made available through our Services, such as text, graphics, logos, images, and software, is the property of WanderWalks or its licensors and is protected by copyright, trademark, and other intellectual property laws.
        <br> 4. User Content<br>
         By submitting or posting content on or through our Services, you grant شد حيلك a non-exclusive, royalty-free, worldwide, perpetual, and irrevocable license to use, reproduce, modify, adapt, publish, translate, distribute, and display such content.
        </p>
   </div>
   
   <%- include('./companents/footer.ejs') %>
</body>
</html>