<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="D:\Web Development\project\css files\Home.css">
    <script src="D:\Web Development\project\js files\Home.js"></script>
    <title>Home</title>
</head>
<body>
    <%- include('./companents/sidebar.ejs') %>

<!-- 5th main -->

<div class="main5">
    <h1>Refund Policy</h1>
     <p>
         Welcome to شد حيلك! Our Refund Policy outlines the terms and conditions for refunds on purchases made through our Services.
         <br>1. Eligibility<br>
         You may be eligible for a refund if you meet the following criteria:
         You have purchased a product through our Services.
         You request a refund within the applicable refund period.
         The product is returned in its original condition, unused, and with all tags attached.
         <br>2. Refund Period<br>
         The refund period varies depending on the type of product purchased and any applicable laws or regulations. Please refer to the specific product page or contact our customer support for information on the refund period applicable to your purchase.
         <br>3. Refund Process<br>
         If your refund is approved, it will be processed within a reasonable timeframe and credited back to the original payment method used for the purchase. Please note that it may take some time for the refund to be reflected in your account, depending on your financial institution.
     </p>
   </div>
   
 
   <%- include('./companents/footer.ejs') %>

</body>
</html>