<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="D:\Web Development\project\css files\Home.css">
    <script src="D:\Web Development\project\js files\Home.js"></script>
    <title>Home</title>
</head>
<body>
    <%- include('./companents/sidebar.ejs') %>

<!-- 5th main -->

<div class="main5">
    <h1>Privacy Policy</h1>
     <p>Welcome to شد حيلك! This Privacy Policy outlines how شد حيلك collects, uses, maintains, and discloses information collected from users of the شد حيلك website, mobile application, and any related services (collectively referred to as the "Services"). By accessing or using our Services, you agree to the terms of this Privacy Policy.
         <br>1. Information We Collect<br>
         We collect personal and non-personal information in order to provide and improve our Services. The types of information we may collect include:
         Personal Information: Such as your name, email address, shipping address, phone number, and payment information when you make a purchase or create an account.
         Non-Personal Information: Such as browser type, IP address, device information, and usage data collected automatically when you interact with our Services.
         <br>2. How We Use Your Information<br>
         We may use the information we collect for various purposes, including but not limited to:<br>
         Processing and fulfilling orders<br>
         Providing customer support<br>
         Sending promotional emails and marketing communications<br>
         Analyzing trends and improving our Services<br>
         Preventing fraudulent activities
           </p>
     
   </div>
   
   <%- include('./companents/footer.ejs') %>


</body>
</html>