<!DOCTYPE html>
<html lang="en">
    <body>
        <head>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <link
                href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/styles/product.css" />
        </head>
        <%- include('./companents/sidebar') %>
        <main>
            <div class="container card">
                <img src="/images/chest_press.jpg" alt="Image" />
                <div class="col">
                    <h2>Chest Press</h2>
                    <p>
                        The Chest Press Machine is designed to target the chest,
                        shoulders, and triceps with a smooth, controlled motion
                        that promotes muscle growth. With adjustable seat and
                        handle positions, it suits users of all sizes for a
                        personalized workout. Perfect for both beginners and
                        pros, it’s essential for effective upper body strength
                        training.
                    </p>
                    <span class="price"> 450.00 LE </span>
                    <button>Add to Cart</button>
                </div>
            </div>
        </main>
        <div class="footer">
            <div>
                <p class="footerinfo">
                    Contact Info Name:شد حيلك <br />
                    Email: info@shd7elk.com<br />
                    Address: Cairo, Maadi, 40 City of Brothers for Police
                    Officers, Floor 1, Apartment 12<br />
                </p>
            </div>
            <div>
                <h2 class="footerh2">About</h2>
                <p>
                    عايز البطن شوكلاته<br />
                    والصدر بلاطه<br />
                    يبقي حلك عندنا<br />
                    !مع شد حيلك
                </p>
            </div>
            <div>
                <h2 class="footerh2">Quick Links</h2>
                <ul>
                    <li><a href="HomeP">Privacy Policy</a></li>
                    <li><a href="HomeT">Terms of Service</a></li>
                    <li><a href="HomeR">Refund & Exchange Policy</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
